<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Welcome, <%= user.name %></h1>
        <h1>Email: <%= user.email %></h1>
        <h1>Mob No: <%= user.mob %></h1>
        <!-- Learn how to use for each loop and how to use header template and footer template -->
        <!-- This templating is not that required as we will be using react or some other js framework for UI -->
    </body>
</html>